table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #b3afafb7;
    text-align: left;
    padding: 8px;
}

/* 행 단위로 색상 교차 */
tr:nth-child(even) {
    background-color: #dddddd;
}
